@font-face {font-family: Grandstander; src: url('fonts/Grandstander-Medium.ttf');}
body {
	background: #e5e5e5;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.logo {
	font-family: Grandstander;
	float: center;
	font-size: 2em;
	display: block;
	color: #92DCE5;
	text-align: center;
	text-decoration: none;
}
.header {
	z-index:1000;
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #f4f3ee;
}
.title {
	float: center;
	font-size: 2em;
	display: block;
	text-align: left;
	text-decoration: none;
	
	width: 100%;
	position: sticky;
	background-color: #eeeff4;
}
.group {
}
/* unvisited link */
.logo a:link {
	text-decoration: none;
	color: #92DCE5;
}

/* visited link */
.logo a:visited {
	text-decoration: none;
	color: #92DCE5;
}

/* mouse over link */
.logo a:hover {
	text-decoration: none;
	color: #92DCE5;
}

/* selected link */
.logo a:active {
	text-decoration: none;
	color: #92DCE5;
}