body {
	background: #f4f3ee;
}
.logo { 
	width: 20%;
	left: 50%;
	margin-top: -10%;
	margin-left: -10%;
	position: absolute;
	top: 50%;
	z-index: 10000;
}
.center {
	left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.icon {
	position: absolute;
	width: 300%;
	position: relative;
}
.box {
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  /* -1/2 width */
  margin-top: -10px;
  /* -1/2 height */
  opacity: 0;
}