.step { 
	text-align: center;
	position: relative;
	z-index: 0;
    top: 10;
    font-size: 4vw;
    white-space: nowrap;
    color: #5d5d5d;
}
#input { 
	position: relative;
	z-index: 0;
    top: 10;
    font-size: 1vw;
    white-space: nowrap;
    color: #5d5d5d;
}